/hls/solution1/.autopilot/
/hls/solution1/.debug/
/hls/solution1/csim/
/hls/solution1/impl/
/hls/solution1/sim/
/hls/solution1/syn/
/vitis/.metadata/
*.log
/vitis/design_1_wrapper/
/vitis/playground/_ide/
/vivado/vivado.cache/
/vivado/vivado.gen/
/vivado/vivado.runs/
/hls/.settings/
/hls/.vitis_hls_log_all.xml
/hls/.cproject
/hls/.project
/hls/.apc/
/vitis/.analytics
/vitis/RemoteSystemsTempFiles/
